<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
    <div>
        <form class="user" method="post" action="#">
            <label>Nazwa użytkownika</label><br>
            <input name="username" type="text" maxlength="255" required/><br>
            <label>Hasło</label><br>
            <input name="password" type="text" maxlength="80" required/><br>
            <label>Powtórz hasło</label><br>
            <input name="password2" type="text" maxlength="80" required/><br>
            <button type="submit" name="submit" value="1">Zarejestruj</button>
        </form>
        {% if errors %}
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if success_message %}
            <p>{{ success_message }}</p>
        {% endif %}
    </div>
</body>
</html>